.root {
    -fx-background-color: #f9f9f9;
    -fx-padding: 20;
}

.profile-title {
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.text-label {
    -fx-font-size: 1.1em;
    -fx-text-fill: #333333;
}
